.footerCol1 {
    background-color: #0f1e38;
}

.footerSocialIconsList {
    margin: 0;
    cursor: pointer;
}

.footerSocialIconsList li {
    display: flex;
    gap: .25rem;
    transition: box-shadow .3s ease, transform .2s ease;
}

.footerSocialIconsList li:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transform: translateY(-2px); /* تأثير خفيف */
    /* letter-spacing: .1rem; */
}

.footerDevInfos li span {
    margin: 0 .5rem
}

.footerCopyright {
    background: linear-gradient(to bottom, #000, #090133);
}