.profileUl li div {
  display: flex;
  gap: .5rem;
  justify-content: start;
  align-items: start;
}

#profile2 ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.noListStyle li div {
  display: flex;
  gap: .5rem;
  margin: .5rem
}

.img-glow {
  animation: glowPulse 3s ease-in-out infinite;
}

@keyframes glowPulse {
  0% {
    box-shadow:
      0 0 8px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow:
      0 0 20px rgba(255, 255, 255, 0.7),
      0 0 40px rgba(255, 255, 255, 0.4);
  }

  100% {
    box-shadow:
      0 0 8px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.2);
  }
}

.kenburnsTop {
    -webkit-animation: kenburns-top 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
    animation: kenburns-top 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
    margin: auto
}

@-webkit-keyframes kenburns-top {

    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

